<html lang="en">
<head>
  <link rel="stylesheet" href="/Components/Footer/footer.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="/Pages/About/about.html">About us</a></li>
  	 				<li><a href="/Pages/Services/services.html">Our services</a></li>
  	 				<li><a href="/Pages/Contact/contact.html">Contact</a></li>
  	 				<li><a href="/Pages/Portfolio/portfolio.html">Portfolio</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">order status</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<!-- <div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">watch</a></li>
  	 				<li><a href="#">bag</a></li>
  	 				<li><a href="#">shoes</a></li>
  	 				<li><a href="#">dress</a></li>
  	 			</ul>
  	 		</div> -->
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<!-- <a href="#"><i class="fab fa-facebook-f"></i></a> -->
  	 				<a href="https://instagram.com/nexsitesolutions/"><i class="fab fa-instagram"></i></a>
  	 				<a href="https://www.linkedin.com/in/nex-site-b7b29a319"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
</body>
</html>
